header {
    background-color: #666;
    padding: 30px;
    text-align: center;
    font-size: 35px;
    color: white;
}
section#rent {
    background-color: #ffffff;
    padding-top: 50px;
    margin bottom: 50px;
}
.modal-header, h4, .close {
    background-color: #333;
    color: #fff !important;
    text-align: center;
    font-size: 30px;
}

.modal-header, .modal-body {
    padding: 40px 50px;
}



input {
    border: none;
    border-bottom: 1px solid grey;
    background-color: rgb(255, 255, 255, 0%);
}
input:hover {
  border-bottom: 2px solid red;
}

img {
  padding-left: 15px;
  padding-top: 15px;
}
*, *:before, *:after {
  box-sizing: inherit;
}
div.crop-text {
  max-width: 290px;
}
.column {
  float: left;
  width: 350px;
  margin-bottom: 30px;
  margin-right: 50px;
  margin-left: 50px;
padding-bottom: 15px;
  max-height: 700px;
  background-color: rgb(103, 86, 130,0.7);
}
.content {
  width: 300px;
  padding-left: 15px;

}

.add {
  height: 400px;
  text-align: center;
  padding-top: 100px;

}
button#add {
  background-color: rgb(255, 255, 255, 80%);
  border: none;
}
.glyphicon-plus {
  font-size: 300px;
}

@media screen and (max-width: 350px) {
  .column {
    width: 200px;
    display: block;
  }
}

.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
  width: 340px;
}
.title {
  color: grey;
}
#edit {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: rgb(229, 42, 111);
  text-align: center;
  cursor: pointer;
  width: 250px;
  margin-left: 30px;
}

.button:hover {
  background-color: #555;
}
