html, body{

  /* background-color: #FCF9F8; */
}

.icon{
  text-align: center;

}
.foot{
  background-image: url(../images/shoe1.jpeg);
  padding-bottom: 3%;
  padding-top: 3%;
}

.foo3{
  padding-bottom: 1.2%;
  padding-top: 1%;
  text-align: center;
  color: darkblue;
  animation-fill-mode: both;
}
.row{

  list-style: none;

}


}

element.style {
}
.carousel-inner>.item>a>img, .carousel-inner>.item>img, .img-responsive, .thumbnail a>img, .thumbnail>img {
    display: block;
    width: 727px;
    height: 350px;
}
#social{
  text-align: center;
}
h4{
  text-align: center;
  color: white;
}
h2{
  text-align: center;
  padding-top: 10px;
}
#par{
  text-align: center;
<<<<<<< HEAD

=======
}
.panel-heading{
  text-align: center;

}
.panel-body {
    padding: 0;
}
.panel-footer{
  background-color: #CB9B80;
}
.container-fluid {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 37px;
    background-color: #67aeca;
}
.navbar{
  background-color: #AB7A62;
>>>>>>> jose

}
/* carousel */
.section{
  padding-bottom: 20px;
  margin: 20px;
  box shadow: 0.1px, 0.1px, 1px, 1px rgb(224, 222, 222);

}
.carousel{
    background: #F6FAD7;
    margin-top: 20px;
}
.carousel .item{
    min-height: 280px;
  }
.carousel .item img{
    margin: 0 auto;
}
.jos-slide{
	margin: 10px;
}
/* carousel */

.panel-body {
    padding: 0px;
}


/* HEADER */
header {
  align-items: center;
  display: flex;
  font-size: 18px;
  height: 100vh;
  justify-content: center;
  overflow: hidden;
  position: relative;
  text-align: center;
  transform-style: preserve-3d;
  perspective: 100px;
  padding-top: 20%;
  font-family: 'Kaushan Script', cursive;
}

header:before {
  animation: fade-slide-down 2s .5s cubic-bezier(0, 0.5, 0, 1) forwards;
  background: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,.8)),
              url(../images/shoe5.jpeg) no-repeat bottom;
  background-size: cover;
  content: "";
  opacity: 0;
  position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  z-index: -1;
}

header:after {
  background: #F9FCFF;
  content: "";
  height: 40rem;
  left: -5%;
  position: absolute;
    right: -5%;
    top: 90%;
  transform-origin: 0 0;
  transform: rotateZ(-4deg);
  z-index: 0;
}

.header-title, .header-subtitle {
  color: #fff;
}

.header-subtitle {
  text-transform: uppercase;
  margin-bottom: 5rem;
}

.header-button {
  transform: translateZ(.1px);
  position: relative;
  z-index: 10;
}

/* Animations */

@keyframes fade-slide-down {
  0% {
    opacity: 0;
    transform: translateY(-4rem);
  }
  100% {
    opacity: 5;
    transform: none;
    background-position: -2
    PX 0;
  }
}
