.jumbotron {
    padding-top: 0px;
    padding-bottom: 100px;
    background-color: #67aeca;
    background-image: url(../images/shoe1.jpeg);
    color: white;
  }
  html, body{

  background-color: #FCF9F8;
}
marquee{
  color: #C0F79A;

}

.icon{
  text-align: center;
  font-size: 20px;
}
.row{

  list-style: none;

}
#social{
  text-align: center;
}
h4{
  text-align: left;
  color: white;
}
h2{
  text-align: center;
  padding-top: 10px;
}
#par{
  text-align: center;
}
.panel-heading{
  text-align: center;
}
.panel-footer{
  background-color: #CB9B80;
}
.container-fluid {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 37px;
    background-color: #67aeca;
}
.navbar{
  background-color: #AB7A62;

}
/* carousel */
.section{
  padding-bottom: 20px;
}
.carousel{
    background: #F6FAD7;
    margin-top: 20px;
}
.carousel .item{
    min-height: 280px;
  }
.carousel .item img{
    margin: 0 auto;
}
.jos-slide{
	margin: 10px;
}
/* carousel */

.panel-body {
    padding: 0px;
}
