body{
/* font-family: 'Merienda', cursive; */
font-family: 'Comfortaa', cursive;
/* background-color: yellow; */

}
#hou{
  box-shadow: 0.1px 0px 1px 3px rgb(224,222,222);
  padding-bottom: 20px;
  margin-top: 30px;
  margin-bottom: 50px;
  padding-left: 20px;
  padding-right: 20px;

.icon{
  text-align: center;

}
.foot{
  background-image: url(../images/shoe1.jpeg);
  padding-bottom: 3%;
  padding-top: 3%;
  background-color: #67aeca;
}

/* #goo{
  text-align: center;
  padding-top: 40px;
  margin-top: 40px;
} */

.foo3{
  padding-bottom: 1.2%;
  padding-top: 1%;
  text-align: center;
  color: darkblue;
  animation-fill-mode: both;
}
.row{

  list-style: none;

}

}
#social{
  text-align: center;
  color: white;
}

h4{
  text-align: center;
  color: white;
}
h2{
  text-align: center;
  padding-top: 10px;
}
#par{
  text-align: center;

}
.panel-heading{
  text-align: center;
}
.panel-footer{
  background-color: #CB9B80;
  padding: 0;
}
#man {
    padding-right: 0px;
    padding-left: 0px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 0px;
    /* background-color: rgb(0,0,0,0.8); */

}
p{
  color: black;
}
.navbar{
  background-color: rgb(103,174,202, 0.7)


}
.myCarousel{
  margin-top: 0px;
  margin-bottom: 0px;
}
#moo{
  background-color: gray;
}
#my{
  margin-bottom: 0;
  color: #
}
/* carousel */
.section{
  padding-bottom: 0px;
  margin-top: 50px;
  box shadow: 0.1px, 0.1px, 1px, 1px rgb(0 , 0, 0, 0.7);

}
.carousel{
    background: #ffffff;
    margin-top: 20px;
}
.carousel .item{
    min-height: 280px;
  }
.carousel .item img{
    margin: 0 auto;
}
.jos-slide{
	margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
}
#jm{
  background-color: rgb(0,0,0,0.2);
  padding-top: 0px;
  padding-bottom: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
}
/* carousel */


/* HEADER */
header {
  align-items: center;
  display: flex;
  font-size: 85px;
  height: 100vh;
  justify-content: center;
  overflow: hidden;
  position: relative;
  text-align: center;
  transform-style: preserve-3d;
  perspective: 100px;
  padding-top: 25%;
  font-family: 'Kaushan Script', cursive;
}

.header-button{
  font-size: 25px;
  color: white;
}
.header-title{
  font-size: 60px;
}

header:before {
  animation: fade-slide-down 2s .5s cubic-bezier(0, 0.5, 0, 1) forwards;
  /* background: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,.8)); */
  background-image: url(../images/homepage.jpg);
  /* no-repeat bottom */
  background-size: cover;
  background-repeat: no-repeat;
  content: "";
  opacity: 0;

  position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  z-index: -1;
  /* background-color: #67aeca; */
}

header:after {
  background: #F9FCFF;
  content: "";
  height: 100rem;
  left: -5%;
  /* position: absolute;
    right: 5%; */
    /* bottom: 105%; */
  transform-origin: 0 0;
  transform: rotateZ(-4deg);
  z-index: 0;
}

.header-title, .header-subtitle {
  color: #fff;
  font-family: 'Ultra', serif;

}
.header-subtitle{
  font-family: 'Comfortaa', cursive;
  font-size: 24px;
}

#jk{
  margin-top: 0px;
}
#kj{
  margin-bottom: 0px;
}
#jk1{
  margin-top: 0px;
}
#kj1{
  margin-bottom: 0px;
}
#jk2{
  margin-top: 0px;
}
#kj2{
  margin-bottom: 0px;
}
#jk3{
  margin-top: 0px;

}
#kj3{
  margin-bottom: 0px;
}




.header-subtitle {
  text-transform: uppercase;
  margin-bottom: 5rem;
}

.header-button {
  transform: translateZ(.1px);
  position: relative;
  z-index: 5;
  font-family: 'Comfortaa', cursive;
  font-size: 18px;
}

/* Animations */

@keyframes fade-slide-down {
  0% {
    opacity: 0;
    transform: translateY(-4rem);
  }
  100% {
    opacity: 5;
    transform: none;
    background-position: -2
    PX 0;
  }
}
